In [1]:
#Libraries

#Set up path to be able to import from the src folder
import sys
import os
import pandas as pd
import kagglehub

# Add the root folder of the project to the Python path
sys.path.append(os.path.abspath(".."))

from src.download_data import download_dataset_kaggle
from src.useful_functions import generate_clean_requirements

packages = [
            "pandas", "numpy", "matplotlib", "seaborn", "scikit-learn",
            "xgboost", "lightgbm", "plotly", "missingno", "shap",
            "kagglehub", "lime", "streamlit", "gradio"
        ]
generate_clean_requirements()

C:\Users\jaifer\AppData\Local\anaconda3\envs\JaimePortfolio\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

âœ… Clean requirements.txt created at: C:\Users\jaifer\Documents\Portfolio-JaimeDataScientist\churn-prediction\requirements.txt

# Import data.

For this project we have selected the customer data of account holders at ABC Multinational Bank and the aim of the data will be predicting the Customer Churn.
This dataset comes from Kaggle.

In [2]:
# Download dataset and get file info
# Download from Kaggle
path = kagglehub.dataset_download("gauravtopre/bank-customer-churn-dataset")
data_path, filename = download_dataset_kaggle("../data", path)

# Load the CSV file
df = pd.read_csv(os.path.join(data_path, filename))
df.head()

 Dataset copied to: ../data

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0